[2021-06-28 09:28] goern commented on #1850
@harshad16 ping

[2021-06-28 09:29] goern commented on #1911
@fridex are you working on this?

[2021-06-28 10:32] fridex commented on #1911
There is nothing to work on. This is caused by missing data. Otherwise, https://github.com/thoth-station/thoth-application/pull/1665 will make sure security indicators are not considered during the resolution process.

[2021-06-28 12:51] goern commented on #1911
so this is more a reminder than a bug?

[2021-06-28 13:03] harshad16 commented on #1850
will recheck on this one to valid.

[2021-06-28 14:21] goern commented on #1850
/remove-triage needs-information
/priority backlog

[2021-06-29 07:24] fridex commented on #1911
Yes, we can try to compute missing data together with https://github.com/thoth-station/thoth-application/issues/1764

[2021-06-29 17:21] isabelizimm opened #1945 "Avoid using pip install --dev for seldon dependency mismatch"
**Is your request related to a problem? Please describe.**
I have this [Pipfile](https://github.com/aicoe-aiops/pet-image-detection/blob/main/Pipfile) with `seldon-core` under `[dev-packages]` and all other under `[packages]` as a workaround since Seldon has conflicting subdependencies with the other packages used. This creates problems when deploying the notebook image hosted on Operate First sin

[2021-06-29 17:37] pacospace commented on #1945
Thanks @isabelizimm!!!, Can you  confirm the issue you encounter is:

[code]

[2021-06-29 18:00] isabelizimm commented on #1945
Yes! That is the issue I hit. I've tried `thamos advise`  with all dependencies moved into `[packages]`, but hit the error:
`2021-06-29 17:57:36,498 [14749] ERROR    thamos.lib: Failed to obtain status from Thoth: HTTPSConnectionPool(host='khemenu.thoth-station.ninja', port=443): Max retries exceeded with url: /api/v1/advise/python/adviser-210629175411-46498ec1c2853df2 (Caused by NewConnectionErro

[2021-06-29 18:20] pacospace commented on #1945
Sorry there is an outage currently :/

In any case I tried:

[code]

and the issue, persist, it is not a conflict with other packages, but constraints in seldon-core, not sure why but they come from: https://github.com/SeldonIO/seldon-core/blob/master/python/setup.py

specifically `"Flask<2.0.0"` and `"click >= 8.0.0a1, < 8.1"` which lead to the above error. Let's open an issue upstream for this!

[2021-06-29 18:22] pacospace commented on #1945
but It does not fail running `pip install seldon-core`

[2021-06-29 18:32] pacospace commented on #1945
Actually this seems to work @isabelizimm having only seldon-core:

[code]

Do you have a strong requirement on having `tensorflow` and `seldon-core` on the same image/notebook? From the look a the notebook it seems it should be possible, wdyt?

[2021-06-29 18:51] isabelizimm commented on #1945
The current iteration does not need both in the same image, so this is fine for now!

[2021-06-30 06:47] #1935 closed

[2021-06-30 07:32] fridex commented on #1945
Our prod environment is currently under maintenance, as @pacospace pointed out above. [Here is a Pipfile.lock](https://gist.github.com/fridex/035b3900c1c1ea31c677b99c98c2aa56) for the request made in stage environment ([adviser-210630071435-63c4d14e59275470](https://stage.thoth-station.ninja/api/v1/advise/python/adviser-210630071435-63c4d14e59275470), RH VPN required). It looks like the resolver s

[2021-07-01 13:56] fridex opened #1948 "Create a software stack resolution pipeline unit that can take into account Python packages shipped inside container image used"
**Is your feature request related to a problem? Please describe.**

As Thoth user, I would like to have the software stack resolved for the runtime environment (container image) I'm running. An example can be a pre-build and supported Jupyter Notebook container image shipped with TensorFlow. If my Jupyter Notebook is using such a container image, I would like to reuse TensorFlow that is shipped in

[2021-07-01 16:36] pacospace commented on #1945
Sorry @fridex I cannot find the request on Ceph to retrieve the inputs used, so we can set aicoe-ci for @isabelizimm to build her image.

Can you share the inputs please? Thanks!!!

[2021-07-01 16:39] fridex commented on #1945
@harshad16 could you point @pacospace to the location where stage documents backup was created? Thanks! 👍🏻

[2021-07-01 16:40] pacospace commented on #1945
Now that you mentioned backup, found it :) Thanks @fridex @harshad16!!

[2021-07-01 16:41] fridex commented on #1945
BTW I used the [Pipfile from the original report](https://github.com/aicoe-aiops/pet-image-detection/blob/main/Pipfile) and [the lock file produced is linked](https://gist.github.com/fridex/035b3900c1c1ea31c677b99c98c2aa56).

[2021-07-01 16:44] pacospace commented on #1945
Thanks @fridex. only question I have is why in the request, the runtime environment is rhel-8-py36 (pasted adviser-210630071435-63c4d14e59275470.request below)? it should have failed if the pipfile requires 3.8

[code]

[2021-07-01 16:44] harshad16 commented on #1945
Yes , the the backup is named ocp4-stage-backup in the psi s3 cluster.

[2021-07-01 16:50] fridex commented on #1945
Thoth's configuration file takes precedence when it comes to Python version over the one stated in Pipfile. The resolved stack is thus Python 3.6 specific. You can try to run it under Python 3.8 though until we ingest Python 3.8 data.

[2021-07-01 16:52] fridex opened #1950 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-07-01 17:06] #1950 closed

[2021-07-01 17:13] pacospace commented on #1945
Thanks for clarifying, then we need to ask for py 3.8, as the image required by @isabelizimm needs python 3.8.

[2021-07-01 17:23] fridex commented on #1945
You can still try to run dependencies resolved for Python 3.6 under Python 3.8 - it does not mean the stack will work for sure, but if it blocks some work, you can try it. I see some dependencies specific for older versions of Python, but that does not mean they are preventing from trying the resolved dependencies on Python 3.8.

[2021-07-01 17:38] fridex opened #1952 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-07-01 18:26] #1952 closed

[2021-07-01 18:45] pacospace opened #1954 "Introduce metrics to push alembic version present in adviser for schema check"
**Is your feature request related to a problem? Please describe.**
As Thoth Maintainer,

I want to make sure all components moving from environment to environment are consistent in alembic version.

**Describe the solution you'd like**
Introduce metrics to push alembic version present in adviser for schema check as for the other components.

**Describe alternatives you've considered**

**Additiona

[2021-07-01 21:08] fridex opened #1955 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-07-01 21:18] #1955 closed

[2021-07-02 06:58] fridex commented on #1823
Does not look relevant - see the upstream issue discussion.

/close

[2021-07-02 06:58] #1823 closed

[2021-07-02 06:58] sesheta commented on #1823
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1823#issuecomment-872767124):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-07-02 07:35] fridex commented on #1782
Let's close this, we can reopen once a new platfom support will be requested.

/close

[2021-07-02 07:35] sesheta commented on #1782
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1782#issuecomment-872787556):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-07-02 07:35] #1782 closed

[2021-07-02 07:36] fridex commented on #1746
Done in https://github.com/thoth-station/adviser/pull/1957

/close

[2021-07-02 07:36] #1746 closed

[2021-07-02 07:36] sesheta commented on #1746
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1746#issuecomment-872788035):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-07-02 11:24] fridex opened #1960 "Provide warning for projects that are archived on GitHub"
**Is your feature request related to a problem? Please describe.**

As a Thoth user, I would like to get a warning about projects that are archived on GitHub. Most probably it means that projects are no longer maintained and developed.

As a Thoth Operator, I want to keep my knowledge graph up to date, so that packages that are archived on GitHub get marked as archived in the knowledge graph.

[2021-07-02 11:28] fridex opened #1961 "Provide information whether a project is packaged as an RPM in distributions"
**Is your feature request related to a problem? Please describe.**

As a Thoth user, I would like to know whether a package that I am using is trusted by RPM packagers (e.g. by Fedora community). In such a case, I can be more sure about the package.

**Describe the solution you'd like**

For each distribution, we can obtain a list of Python packages packaged as RPM using `dnf repoquery --whatrequi

[2021-07-02 12:29] #1820 closed

[2021-07-02 13:41] fridex commented on #1961
The following code lists all the Python rpm modules and shows their PyPI name (if any):

[code]

[2021-07-07 13:32] goern commented on #1954
/remove-triage needs-information
/priority important-soon
/milestone 2021.07.19

/assign @harshad16

[2021-07-07 13:32] sesheta commented on #1954
@goern: The provided milestone is not valid for this repository. Milestones in this repository: [`adviser-v0.17.0`, `adviser-v0.18.0`, `investigator-v0.5.0`, `kebechet-v1.1.0`, `python38-migration`, `slo-reporter-v0.7.0`, `v0.6.0-dev`, `v0.6.0`, `v0.7.0`, `v0.8.0`]

Use `/milestone clear` to clear the milestone.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1954

[2021-07-12 07:08] fridex commented on #1961
Used this code to aggregate the data:

[code]

Related PR: https://github.com/thoth-station/prescriptions/pull/44

Closing this, we might revisit this approach following https://github.com/thoth-station/thoth-application/issues/1798

/close

[2021-07-12 07:08] #1961 closed

[2021-07-12 07:08] sesheta commented on #1961
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1961#issuecomment-878028745):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-07-12 08:58] #1948 closed

[2021-07-12 10:16] fridex opened #1964 "Link Python package releases available on PyPI"
**Is your feature request related to a problem? Please describe.**

As Thoth user, I would like to visit PyPI with release information of packages that are recommended. To support this, we could add a link to PyPI for each Python package resolved and hosted on PyPI/

**Describe the solution you'd like**

Create a pipeline unit that injects a link to the Python package release on PyPI.

[2021-07-12 11:47] fridex opened #1967 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-07-12 11:56] khebhut[bot] opened #1968 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA b7d56c13aec66b4fa0ad38337dd6a130afbcc57a.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2021-07-12 11:56] #1967 closed

[2021-07-12 12:05] #1968 closed

[2021-07-12 13:16] #1926 closed

[2021-07-13 07:38] fridex opened #1969 "Mirrored logic for some steps"
**Is your feature request related to a problem? Please describe.**

See for example https://github.com/thoth-station/prescriptions/pull/53/files

Some prescriptions are mirrored - see the linked example where the logic is applied when numpy and pillow are found and vice versa. As of now, it is required to create two prescriptions in the YAML file by users. This is something that can be prone to er

[2021-07-13 07:44] fridex opened #1970 "Optimize GitHubReleaseNotesWrap"
**Is your feature request related to a problem? Please describe.**

As of now, we use `GitHubReleaseNotesWrap` that was designed to state a link to GitHub release notes in one pipeline unit at one place for all the projects - see https://thoth-station.ninja/docs/developers/adviser/prescription.html#githubreleasenoteswrap

With recent prescription directory restructuring and adjustments, it might b

[2021-07-13 14:21] goern commented on #1515
@sub-mod ping

[2021-07-13 15:25] goern commented on #1945
what is the state of this issue?

[2021-07-13 16:00] pacospace commented on #1945
@isabelizimm did you check the stack provided by @fridex, does it work even if created for python 3.6?

[2021-07-13 18:18] fridex opened #1971 "Provide formatting options to messages printed in prescriptions"
**Is your feature request related to a problem? Please describe.**

As a Thoth maintainer, I would like to create generic prescriptions which messages can be formatted using predefined set of values to expand. An example can be a prescription that notifies about package installation from an index and the message should print such a fact:

[code]

**Describe the solution you'd like**

Provide an in

[2021-07-14 06:27] fridex commented on #1964
Done in https://github.com/thoth-station/adviser/pull/1966

[2021-07-14 06:27] #1964 closed

[2021-07-14 06:32] #1960 closed

[2021-07-14 06:53] fridex opened #1975 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-07-14 07:36] #1975 closed

[2021-07-14 16:15] isabelizimm commented on #1945
@pacospace been looking at this today--the release does not push to quay with the 3.6 stack, unfortunately : (

[2021-07-14 16:28] fridex commented on #1945
Most probably `--deploy` check fails. Are you using this [Pipfile](https://github.com/aicoe-aiops/pet-image-detection/blob/main/Pipfile)?

[2021-07-14 16:31] isabelizimm commented on #1945
Yep! Using that Pipfile + the lock that you provided.

[2021-07-14 16:35] fridex commented on #1945
Could you try with https://github.com/aicoe-aiops/pet-image-detection/pull/8?

[2021-07-14 17:06] isabelizimm commented on #1945
No luck with that Pipfile either :(

[2021-07-14 17:07] fridex commented on #1945
Does the build succeed? If not, could you post build logs?

[2021-07-14 18:13] fridex opened #1978 "Include information about dependency graph structure in the adviser result"
**Is your feature request related to a problem? Please describe.**

As requested in https://github.com/thoth-station/user-api/issues/1471 it would be nice to provide information stating how the dependency graph looks like. The dependency graph should be encoded in the final adviser report once the resolution finishes.

[2021-07-15 01:41] sesheta commented on #1604
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 01:42] sesheta commented on #1604
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1604#issuecomment-880323124):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 02:02] sesheta commented on #1575
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 04:44] sesheta commented on #1514
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 04:44] sesheta commented on #1514
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1514#issuecomment-880386870):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 10:26] fridex commented on #1604
Do we have an image where mkl libs would be present (as RPM packages we can detect)?

CC @harshad16 @pacospace @goern

[2021-07-15 10:42] sesheta commented on #1553
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 10:42] sesheta commented on #1899
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 10:42] sesheta commented on #1553
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1553#issuecomment-880591261):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 10:42] #1553 closed

[2021-07-15 10:42] #1899 closed

[2021-07-15 10:42] sesheta commented on #1899
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1899#issuecomment-880591255):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 11:03] sesheta commented on #1268
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 11:03] sesheta commented on #1436
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 11:03] sesheta commented on #1533
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 11:03] sesheta commented on #1541
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 11:03] sesheta commented on #1561
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 11:03] sesheta commented on #1744
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-07-15 11:06] fridex commented on #1744
Already done https://github.com/thoth-station/prescriptions/blob/33d3f623e82af0763bfd9c91298978e7f7472ebe/prescriptions/te_/tensorflow/tf_22_ptxas.yaml#L1

/close

[2021-07-15 11:06] #1744 closed

[2021-07-15 11:06] sesheta commented on #1744
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1744#issuecomment-880605211):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-07-15 11:06] fridex commented on #1561
We can revisit this later.

/close

[2021-07-15 11:06] sesheta commented on #1561
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1561#issuecomment-880605583):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-07-15 11:06] #1561 closed

[2021-07-15 11:07] fridex commented on #1541
No fix was addressed. Let's keep this open, please provide any reproducer to have this fixed.

/remove-lifecycle rotten

[2021-07-15 11:10] fridex commented on #1533
Still relevant, see also linked issues.

/remove-lifecycle rotten

[2021-07-15 13:42] sesheta commented on #1743
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 13:42] sesheta commented on #1646
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 13:42] sesheta commented on #1740
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 13:42] sesheta commented on #1627
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 13:42] sesheta commented on #1853
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 13:42] sesheta commented on #1857
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 13:42] #1646 closed

[2021-07-15 13:42] #1743 closed

[2021-07-15 13:42] #1853 closed

[2021-07-15 13:42] #1857 closed

[2021-07-15 13:42] sesheta commented on #1627
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1627#issuecomment-880704963):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 13:42] sesheta commented on #1646
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1646#issuecomment-880704956):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 13:42] sesheta commented on #1853
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1853#issuecomment-880704975):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 13:42] sesheta commented on #1740
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1740#issuecomment-880704948):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 13:42] sesheta commented on #1743
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1743#issuecomment-880704935):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 13:42] sesheta commented on #1846
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-15 13:42] sesheta commented on #1857
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1857#issuecomment-880704982):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-15 15:13] goern commented on #1604
I'm not aware of that. @sub-mod ?

[2021-07-16 05:42] goern commented on #1978
/priority important-soon

[2021-07-16 07:36] goern commented on #1945
/remove-priority critical-urgent
/priority important-soon
/priority awaiting-more-evidence

[2021-07-16 08:02] goern commented on #1911
@fridex @harshad16 what is the status of this? can you give a short overview of the state of data ingestion wrt security indicators?

[2021-07-16 10:55] fridex commented on #1911
They are low priority now. handling solver workflows. If we will not ingest solver data, security indicators data are useless.

[2021-07-16 11:10] fridex commented on #1627
/remove-lifecycle rotten
/reopen

[2021-07-16 11:10] sesheta commented on #1627
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1627#issuecomment-881369039):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-16 11:15] fridex commented on #1743
This is already implemented.

[2021-07-16 11:15] fridex commented on #1857
We might eventually revisit this in the future. Otherwise I think we are fine for now.

[2021-07-16 11:16] fridex commented on #1846
This does not look like an adviser bug but rather missing data.

Closing.

/close

Ingest required data.

[2021-07-16 11:17] #1846 closed

[2021-07-16 11:17] sesheta commented on #1846
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1846#issuecomment-881372393):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-07-16 11:17] fridex commented on #1740
Still relevant, this might be helpful for buildsystems.

/reopen
/remove-lifecycle-rotten

[2021-07-16 11:17] sesheta commented on #1740
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1740#issuecomment-881372696):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-16 11:24] fridex opened #1983 "Rename "buildtime errors" to "installation errors""
**Is your feature request related to a problem? Please describe.**

In the adviser recommendations, I see:
[code]

This is however not accurate. The error did not happen during the build but rather during installation.

**Describe the solution you'd like**

- [x] rename buildtime errors reported,to installation errors
- [x] adjust justifications correspondingly

[2021-07-16 12:42] goern commented on #1436
/remove-lifecycle rotten
/lifecycle frozen

[2021-07-16 12:43] goern commented on #1575
/remove-lifecycle rotten
/lifecycle frozen

[2021-07-16 12:43] #1983 closed

[2021-07-16 17:06] goern commented on #1943
@pacospace what is the next step here?

[2021-07-16 20:54] pacospace commented on #1943
That we take the recommendation from adviser and automatically populate the thoth.yaml so that AICOE CI uses the correct base image when building images for AI Pipelines: https://github.com/thoth-station/jupyterlab-requirements/issues/345

[2021-07-19 08:18] khebhut[bot] opened #1987 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 944ec466579beabdf7ccb84e6601c0eefca8e95d.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2021-07-19 08:27] #1987 closed

[2021-07-21 11:30] fridex opened #1990 "Notify about possible dependency graph issues when user's stack is supplied"
**Is your feature request related to a problem? Please describe.**

When a user submits a lock file with the request, we do not verify whether the lock file is actually correct. This can introduce issues in the dependency graph reported as it relies on adviser's dependency information.

**Describe the solution you'd like**

Warn when `thamos graph` is used on user's lock file.

[2021-07-21 19:30] fridex opened #1997 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-07-21 19:39] #1997 closed

[2021-07-21 19:43] fridex opened #1999 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-07-21 19:52] #1999 closed

[2021-07-21 19:54] fridex opened #2001 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-07-21 20:03] #2001 closed

[2021-07-21 20:56] #1978 closed

[2021-07-22 11:07] fridex opened #2007 "Allow matching dev requirements in prescriptions"
**Is your feature request related to a problem? Please describe.**

As a prescription developer, I would like to utilize YAML declaration to state unit behaviour when a development dependency is matched.

**Describe the solution you'd like**

Provide `is_devel: true/false` option in the YAML prescription schema.

[2021-07-22 12:04] fridex opened #2008 "Support library usage globing in prescriptions"
**Is your feature request related to a problem? Please describe.**

As Thoth administrator and user, I would like to create prescriptions that state library usage in a globbed form:

[code]

This way I can specify pipeline units that should be activated during the resolution process when anything from tensorflow.keras is imported.

[2021-07-22 13:47] sesheta commented on #1525
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-22 13:47] sesheta commented on #1525
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1525#issuecomment-884926110):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-22 16:13] fridex opened #2009 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-07-22 16:55] goern commented on #1990
Is there something that we can do if we send a warning? any diff to heal the problematic lock file?

/priority important-soon

[2021-07-22 16:55] #2009 closed

[2021-07-22 16:59] fridex commented on #1990
As the lock file was not produced by our resolver, we cannot rely on its correctness. If users supply a request without a lock file (or we recommend not to use the lockfile they sent us) we can show the dependency graph.

[2021-07-23 10:31] fridex opened #2014 "Optimize calls to wraps"
**Is your feature request related to a problem? Please describe.**

It might be possible to optimize calls to wraps, assuming we will call wraps only for final states after the resolution process is done. This will require dropping support of directives that adjust behavior of the resolver, specifically `not_acceptable` and `eager_stop_pipeline`. This should be OK as these directives can be run fr

[2021-07-26 20:19] #2008 closed

[2021-07-27 10:02] fridex opened #2017 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-07-27 10:08] #2017 closed

[2021-07-27 16:03] fridex opened #2019 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-07-28 17:07] sesheta commented on #1850
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-07-28 17:07] #1850 closed

[2021-07-28 17:07] sesheta commented on #1850
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1850#issuecomment-888474797):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-07-30 08:47] #2019 closed

[2021-07-30 11:24] fridex opened #2024 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2021-07-30 11:28] harshad16 opened #2025 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.38.0

[2021-07-30 11:47] sesheta commented on #2025
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/adviser:v0.38.0](https://quay.io/thoth-station/adviser:v0.38.0)

[2021-07-30 11:47] #2025 closed

[2021-07-30 11:53] #2024 closed

[2021-08-02 19:24] #2014 closed

[2021-08-04 15:00] #1990 closed

[2021-08-06 14:12] sesheta commented on #1954
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-06 14:12] sesheta commented on #1954
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1954#issuecomment-894289505):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-11 19:11] khebhut[bot] opened #2037 "Failed to update dependencies to their latest version"
Automatic dependency update failed for the current master with SHA 8dc184f56b75d6f1d5431047d3995389a0e2f215.

The automatic dependency management cannot continue. Please fix errors reported bellow.

##### Command

[code]

<details>
  <summary>Standard output</summary>

[code]

</details>

<details>
  <summary>Standard error</summary>

[code]

</details>

<details>
  <summary>Environment details</s

[2021-08-11 19:11] sesheta commented on #2037
@khebhut[bot]: The label(s) `/label thoth/potential-flake` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/ocp4-stage, deployment_name/ocp4-test, deployment_name/zero-prod, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind/question,

[2021-08-11 19:14] fridex commented on #2037
/label flake
/close

[2021-08-11 19:14] sesheta commented on #2037
@fridex: The label(s) `/label flake
` cannot be applied. These labels are supported: `community/discussion, community/group-programming, community/maintenance, community/question, deployment_name/ocp4-stage, deployment_name/ocp4-test, deployment_name/zero-prod, hacktoberfest, hacktoberfest-accepted, kind/cleanup, kind/demo, kind/deprecation, kind/documentation, kind/question, sig/advisor, sig/buil

[2021-08-11 19:14] #2037 closed

[2021-08-11 19:14] sesheta commented on #2037
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/2037#issuecomment-897083670):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-08-12 19:50] #1970 closed

[2021-08-13 07:40] goern commented on #2007
/triage accepted
/priority importnat-soon
/area prescriptions

[2021-08-13 07:40] sesheta commented on #2007
@goern: The label(s) `priority/importnat-soon` cannot be applied, because the repository doesn't have them.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/2007#issuecomment-898256130):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestion

[2021-08-13 07:41] goern commented on #2007
/priority important-soon

[2021-08-13 08:06] goern commented on #1911
what is the status of this one?!

[2021-08-13 08:07] goern commented on #1969
/area adviser
/area prescriptions

[2021-08-16 07:08] fridex commented on #2007
Implemented in https://github.com/thoth-station/adviser/pull/2039

/close

[2021-08-16 07:08] sesheta commented on #2007
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/2007#issuecomment-899275525):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-08-16 07:08] #2007 closed

[2021-08-16 13:28] fridex commented on #1436
This is already available on the resolver's context instance by checking dependents' property. As a dependency can be introduced by multiple packages the check needs to be done on a list but not on a single dependency as stated in the issue. Closing as the feature is already available.

/close

[2021-08-16 13:28] #1436 closed

[2021-08-16 13:28] sesheta commented on #1436
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1436#issuecomment-899511254):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-08-16 18:51] fridex opened #2048 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-08-16 20:15] #2048 closed

[2021-08-17 05:16] fridex opened #2053 "Allow providing version ranges for runtime environment entries in prescriptions"
**Is your feature request related to a problem? Please describe.**

As a Thoth user, I would like to have the ability to describe requirements on versions using version ranges. An example can be Python interpreter versions, CUDA/cuDNN versions and such: so that prescriptions are more expressive.

**Describe the solution you'd like**

Implement version ranges in selected fields in prescriptions.

[2021-08-17 05:16] fridex commented on #2053
/triage accepted

[2021-08-17 05:27] fridex opened #2054 "Optimize should_include for prescriptions by unrolling static parts"
**Is your feature request related to a problem? Please describe.**

To allow the prescription databsae grow, it might be a good idea to cache parts of prescriptions that are used in `should_include` part but do not change. An example can be inclusion prescriptions that depend on the python interpreter version, CUDA version - these do not change during pipeline units inclusion and results of checks

[2021-08-17 07:07] #2054 closed

[2021-08-18 15:26] #1268 closed

[2021-08-19 21:10] fridex opened #2063 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-08-19 21:49] #2063 closed

[2021-08-23 17:42] sesheta commented on #1515
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-23 17:42] sesheta commented on #1515
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-23 17:54] fridex commented on #2053
Already implemented.

/close

[2021-08-23 17:54] #2053 closed

[2021-08-23 17:54] sesheta commented on #2053
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/2053#issuecomment-903985947):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-08-23 20:42] sesheta commented on #1971
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-23 20:42] sesheta commented on #1971
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1971#issuecomment-904111868):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-24 02:42] sesheta commented on #1514
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 02:42] sesheta commented on #1541
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 02:42] sesheta commented on #1533
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 02:42] sesheta commented on #1604
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 02:43] sesheta commented on #1541
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1541#issuecomment-904277041):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-24 02:43] sesheta commented on #1514
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1514#issuecomment-904277032):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-24 04:37] fridex commented on #1514
/remove-lifecycle rotten
/reopen
/triage accepted

[2021-08-24 04:37] fridex commented on #1541
/remove-lifecycle rotten
/reopen
/triage accepted

[2021-08-24 04:37] sesheta commented on #1541
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1541#issuecomment-904316573):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-24 04:39] fridex commented on #1533
/remove-lifecycle rotten
/reopen
/triage accepted

[2021-08-24 04:52] fridex commented on #1971
/remove-lifecycle rotten
/reopen
/triage accepted

[2021-08-24 04:52] sesheta commented on #1971
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1971#issuecomment-904320723):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-24 09:16] goern commented on #1604
ping @sub-mod

[2021-08-24 11:42] sesheta commented on #1945
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 11:42] #1945 closed

[2021-08-24 11:43] sesheta commented on #1945
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1945#issuecomment-904564965):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-24 13:52] sub-mod commented on #1604
will [this](https://hub.docker.com/r/intel/intel-optimized-tensorflow) do ?

[2021-08-24 17:43] sesheta commented on #1627
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 17:43] sesheta commented on #1740
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 20:43] sesheta commented on #1575
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-08-24 20:43] sesheta commented on #1943
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-08-24 20:43] sesheta commented on #1575
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1575#issuecomment-904960601):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-08-25 10:28] fridex commented on #1575
@pacospace do we have stats on pod failures - how many of them failed and why?

[2021-08-25 10:36] fridex commented on #1943
/remove-lifecycle rotten
/triage accepted

[2021-08-25 10:48] fridex commented on #1740
/remove-lifecycle rotten
/triage accepted

[2021-08-25 10:51] fridex commented on #1627
/remove-lifecycle rotten
/triage accepted

[2021-08-25 11:12] fridex commented on #1945
The bot closed the issue. Please let us know if there is anything more we could help with. Thanks for the report.

[2021-08-25 11:39] fridex commented on #1604
Sadly, only Ubuntu-based. Do we have any plans and use cases to have UBI/Fedora based?

[2021-08-25 19:05] fridex opened #2073 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-08-25 20:40] #2073 closed, assigned to sesheta

[2021-08-25 20:40] fridex opened #2074 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-08-25 21:12] #2074 closed, assigned to sesheta

[2021-08-26 07:44] fridex opened #2076 "Environment markers on direct dependencies are not evaluated correctly"
**Describe the bug**

See @frenzymadness comment that perfectly describes expected behavior https://github.com/thoth-station/micropipenv/issues/186#issuecomment-906160433 As of now, we merge environment markers from dependencies.

[2021-08-30 17:23] #2076 closed

[2021-09-10 02:23] sesheta commented on #1954
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-10 02:23] sesheta commented on #1954
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1954#issuecomment-916581121):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-12 08:24] sesheta commented on #1911
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-12 08:24] sesheta commented on #1969
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-12 08:24] #1911 closed

[2021-09-12 08:24] sesheta commented on #1969
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1969#issuecomment-917588351):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-12 08:24] sesheta commented on #1911
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1911#issuecomment-917588348):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-13 06:44] fridex commented on #1969
/reopen
/remove-lifecycle rotten
/triage accepted

[2021-09-13 06:44] sesheta commented on #1969
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1969#issuecomment-917888652):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-13 07:37] fridex opened #2084 "Use a pre-loaded binary format for prescriptions"
**Is your feature request related to a problem? Please describe.**

As of now, the database of prescriptions has 190MiB (42k+ YAML files) and will grow. To let the database grow and still be able to load the database quickly, we can use a binary format (such as pickle) to pre-load and prepare prescriptions for adviser. In such a case, the overhead of reading all the files and parsing them using C

[2021-09-13 10:04] fridex commented on #2084
Duplicate of https://github.com/thoth-station/prescriptions/issues/50. I haven't realized it is opened already.

/close

[2021-09-13 10:04] sesheta commented on #2084
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/2084#issuecomment-918035082):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-09-13 10:04] #2084 closed

[2021-09-15 03:33] harshad16 opened #2087 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-09-15 03:51] #2087 closed

[2021-09-15 03:52] khebhut[bot] opened #2089 "Kebechet update manager: ConnectionError - 1711642c69"
## Description
This is an automated issue generated by Kebechet. The update manager threw an exception (ConnectionError) at
runtime. If you think this exception is a bug please open an issue upstream at https://github.com/thoth-station/kebechet
otherwise use the traceback below to help you fix whatever issues were encountered with your repository.

## Traceback
Traceback (most recent call last):

[2021-09-15 19:33] fridex opened #2090 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-09-15 19:47] #2090 closed

[2021-09-16 11:02] fridex opened #2093 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-09-16 11:16] fridex opened #2094 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-09-16 11:33] #2094 closed

[2021-09-16 11:35] #2093 closed

[2021-09-17 14:07] fridex opened #2096 "Allow matching pipeline units only for authenticated requests"
**Is your feature request related to a problem? Please describe.**

As an administrator or user of Thoth, I would like to match certain pipeline units declared in prescriptions only if the request to the resolver is authenticated.

**Describe the solution you'd like**

Introduce a new directive that will allow the inclusion of a pipeline unit only if an authenticated request to the resolver is don

[2021-09-20 07:30] fridex opened #2098 "Allow matching only one package from multiple in prescriptions"
**Is your feature request related to a problem? Please describe.**

As a user of the recommender system, I would like to make sure that each prescription that is matched is run only once even though multiple packages are stated:

[code]

This way we can make sure the logic behind the prescription is run once. This can be suitable for cases such as https://github.com/thoth-station/prescriptions/pul

[2021-09-20 11:07] fridex opened #2101 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-09-20 11:27] #2101 closed

[2021-09-22 11:47] #2096 closed

[2021-09-22 20:30] sesheta commented on #1515
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-22 20:30] sesheta commented on #1515
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-22 20:30] #1515 closed

[2021-09-22 20:30] sesheta commented on #1515
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1515#issuecomment-925306520):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-23 05:30] sesheta commented on #1514
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 05:30] sesheta commented on #1541
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-23 05:30] sesheta commented on #1514
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 05:30] sesheta commented on #1541
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 05:30] #1514 closed

[2021-09-23 05:30] sesheta commented on #1514
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1514#issuecomment-925517081):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-23 05:30] sesheta commented on #1541
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1541#issuecomment-925517086):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-23 11:20] #2098 closed

[2021-09-23 11:27] fridex commented on #2089
/close

[2021-09-23 11:27] #2089 closed

[2021-09-23 11:27] sesheta commented on #2089
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/2089#issuecomment-925725280):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-09-23 14:30] sesheta commented on #1971
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-23 14:30] #1971 closed

[2021-09-23 14:30] sesheta commented on #1971
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1971#issuecomment-925870709):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-24 11:31] sesheta commented on #1575
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 11:31] sesheta commented on #1575
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 11:31] sesheta commented on #1943
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 11:31] sesheta commented on #1943
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 11:31] #1575 closed

[2021-09-24 11:31] sesheta commented on #1943
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1943#issuecomment-926553689):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-24 11:31] sesheta commented on #1575
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1575#issuecomment-926553682):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-24 14:31] sesheta commented on #1627
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 14:31] sesheta commented on #1627
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 14:31] sesheta commented on #1740
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 14:31] sesheta commented on #1740
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 14:31] #1740 closed

[2021-09-24 14:31] #1627 closed

[2021-09-24 14:31] sesheta commented on #1740
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1740#issuecomment-926674408):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-24 14:31] sesheta commented on #1627
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1627#issuecomment-926674418):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-24 17:31] sesheta commented on #1604
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-09-24 17:31] sesheta commented on #1604
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2021-09-24 17:31] #1604 closed

[2021-09-24 17:31] sesheta commented on #1604
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1604#issuecomment-926802935):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-09-27 20:08] harshad16 opened #2106 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-09-27 20:17] #2106 closed

[2021-09-27 20:46] harshad16 opened #2108 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-09-27 21:09] #2108 closed

[2021-09-28 04:04] harshad16 opened #2110 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.45.0

[2021-09-28 04:12] #2110 closed

[2021-10-01 17:32] sesheta commented on #1533
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2021-10-01 17:32] sesheta commented on #1533
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1533#issuecomment-932425070):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-10-06 13:49] codificat commented on #1969
/priority backlog

[2021-10-07 15:22] fridex opened #2112 "Enable CVE information also for LATEST recommendation type"
**Is your feature request related to a problem? Please describe.**

As discussed on the Tech talk:

I, as a user of Thoth, would like to have information about CVEs also when resolving latest software stack. CVEs can be still listed but the recommendation engine does not act on CVEs (penalize, look for alternatives, ...).

**Describe the solution you'd like**

Enable CVE also for the latest but ad

[2021-10-07 16:11] fridex opened #2114 "Use higher level abstraction for CPU features"
**Is your feature request related to a problem? Please describe.**

As discussed on the Tech talk:

I, as a user of Thoth, would like to configure prescriptions based on features CPU provide, example:

[code]

This way, the prescription can be included based on hardware features available and the underlying logic can map the features to the corresponding cpu models and cpu families under the hood

[2021-10-08 12:42] fridex opened #2117 "Provide a way to additionally specify tags on the container images in prescriptions"
**Is your feature request related to a problem? Please describe.**

As a user of Thoth's adviser and prescriptions, I would like to have the power to express that any tag of a container image is acceptable for a prescription so that it can be included.

Example:

[code]

**Describe the solution you'd like**

Create a logic that can state that "any" version of the container image is acceptable. We

[2021-10-08 15:40] fridex opened #2118 "Similarly as for CPUs we can have database of GPUs"
**Is your feature request related to a problem? Please describe.**

See https://github.com/thoth-station/adviser/pull/2116

Similarly as for CPUs and their features, we can have a database of GPUs (and possibly TPUs).

**Describe the solution you'd like**

Create a database for GPU devices.

[2021-10-10 11:33] sesheta commented on #1954
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1954#issuecomment-939465964):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-10-11 07:09] #2112 closed

[2021-10-11 08:27] #2114 closed, assigned to nobody

[2021-10-11 09:15] fridex opened #2120 "Simplify units when computing package combinations in a dependency graph"
**Is your feature request related to a problem? Please describe.**

As of now, we have a simple unit that checks for same occurrences of a resolved package in the dependency graph. This means that the unit needs to be included for each package that can occur in the dependency graph. This is something that could be optimized and create a unit that will check what package combinations are computed (

[2021-10-11 17:40] #2117 closed

[2021-10-14 15:25] fridex opened #2129 "Be explicit about the fact that a package has no CVEs"
**Is your feature request related to a problem? Please describe.**

As of now, we add information if a package has a vulnerability. As it is better to be explicit than implicit, it might be better to add info a message to the justification that a package has no vulnerabilities. This way users will see that a package is green with respect to CVEs.

**Describe the solution you'd like**

- [x] add a

[2021-10-18 16:07] pacospace opened #2130 "Point users to issue template for new package if non authenticated requests fails with missing solved packages"
**Is your feature request related to a problem? Please describe.**
See conversation: https://github.com/thoth-station/support/issues/114#issuecomment-945637696

**Describe the solution you'd like**
if we identify a package not known to thoth, not present in the database then, users could be pointed to that issue template

**Describe alternatives you've considered**

**Additional context**

[2021-10-19 10:41] fridex opened #2135 "Be less verbose about packages that were filtered based on solver rules"
**Is your feature request related to a problem? Please describe.**

Check for example the following issue - https://github.com/thoth-station/support/issues/118. The stack info messages that state filtered packages based on solver rules make the output too verbose. It might be a good idea not to report each and every package that is affected by the given solver rule, but rather report the version r

[2021-10-19 10:44] fridex opened #2136 "Be less verbose with installation issues reported in stack info"
**Is your feature request related to a problem? Please describe.**

Similarly, as for https://github.com/thoth-station/adviser/issues/2135, we could group messages reporting installation errors in the given runtime environment for multiple packages. This grouping will be more complex though and will require something like https://github.com/thoth-station/python/issues/399

**Describe the solution

[2021-10-19 10:48] fridex opened #2137 "Provide more information about the runtime environment in stack info"
**Is your feature request related to a problem? Please describe.**

I, as a user of Thoth, would like to have a nice overview of the resolution process and all the inputs that were provided to the recommender system.

**Describe the solution you'd like**

Add more information about runtime environment used to stack info, for example:

- [x] runtime environment name
- [x] python version
- [x] opera

[2021-10-19 16:24] #2130 closed, assigned to nobody

[2021-10-21 09:14] fridex opened #2142 "Provide last CVE update timestamp to users"
**Is your feature request related to a problem? Please describe.**

As a user of Thoth, I would like to know how fresh the CVE information are so that I can be sure about possible vulnerability flaws on software I am using.

**Describe the solution you'd like**

Add a timestamp to security-related information coming from the recommendation engine.

[2021-10-21 09:16] #2135 closed, assigned to fridex

[2021-10-21 12:12] #2136 closed

[2021-10-21 12:12] #2129 closed, assigned to nobody

[2021-10-21 13:05] fridex opened #2143 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-10-21 21:18] #2137 closed, assigned to fridex

[2021-10-25 10:35] fridex opened #2145 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-10-25 10:57] #2145 closed, assigned to sesheta

[2021-10-25 19:27] fridex opened #2149 "Provide a link to CVE for more information"
**Is your feature request related to a problem? Please describe.**

As a user of Thoth, I would like to receive a direct link to CVE information to get more insights on the vulnerability.

**Describe the solution you'd like**

Instead of creating a generic link to a [CVE justification](https://thoth-station.ninja/j/cve), sync URL to CVE information from PyPA/advisory-db in cve-update-job and provi

[2021-11-01 20:39] fridex opened #2154 "Enhance environment markers with python_version taken from package metadata"
**Is your feature request related to a problem? Please describe.**

Pipenv added a new feature where each dependency has the environment marker `python_version` taken from package metadata. It might be a good idea to include such an environment marker in Thoth's adviser as well. It will not affect the resolution process anyhow, but will create more explicit Pipfile.lock with relevant `python_versi

[2021-11-01 20:42] fridex commented on #2154
This would be a nice feature, but not "must-have".  This behavior is [partially documented](https://thoth-station.ninja/docs/developers/adviser/compatibility.html#compatibility-with-pip-pipenv-resolver). If users use overlays properly and have their environments setup correctly, this feature has no effect.

/priority backlog
/triage accepted
/sig adviser

[2021-11-04 18:33] #2149 closed

[2021-11-05 10:22] pacospace opened #2179 "thamos not returning Pipfile.lock correctly"
**Describe the bug**
thamos not returning Pipfile.lock correctly

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Have a Pipfile with pandas only:

[code]
2. run `thamos advise` and get Pipfile/Pipfile.lock (adviser-211105101145-bc4603a7a1381e8c)
[code]

[code]
3. run `thamos add boto3`
[code]

4.  run `thamos advise` and get Pipfile/Pipfile.lock (adviser-211105100244-4803622e169498c7

[2021-11-08 09:33] fridex opened #2157 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-11-08 09:41] #2157 closed

[2021-11-08 10:20] #2142 closed

[2021-11-08 11:05] fridex opened #2159 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-11-10 10:53] #1969 closed

[2021-11-10 17:06] Gkrumbach07 opened #2166 "Add metadata field to justification schema"
**Is your feature request related to a problem? Please describe.**
I am in the process of creating new justifications which will require storing json type data (string format). To keep the justification user readable, it can not go in the `message` param of the justification.

**Describe the solution you'd like**
I would like to add a metadata field in the justification yaml to hold any non user r

[2021-11-15 11:01] fridex opened #2170 "Compile adviser with mypyc"
**Is your feature request related to a problem? Please describe.**

It could be interesting to see adviser running compiled with mypyc and see the performance gain obtained.

**Describe the solution you'd like**

Compile adviser with mypyc.

**Additional context**

I've tried to compile adviser, but it seems we have ~200+ mypy issues that were suppressed with `mypy.ini` or by ignoring comments. So

[2021-11-16 15:58] #2166 closed

[2021-11-22 11:32] fridex opened #2177 "Allow constraints without version being explicitly specified"
**Is your feature request related to a problem? Please describe.**

As a user of Thoth, I would like to specify constraints on packages that do not require version specifier:

[code]

[code]

**Describe the solution you'd like**

Allow passing constraints without version specifier being set.

[2021-11-22 17:01] fridex opened #2180 "Keep metadata in justifications and stack info results"
**Is your feature request related to a problem? Please describe.**

As a user of Thoth, I would like to have machine-readable access to the results of the recommendation engine. To support this, I would like to access results and read metadata in each justification and stack info entry. An example can be a justification entry provided by the unit responsible for providing CVE information - it can

[2021-11-22 22:18] codificat commented on #2179
/kind bug
/triage accepted

[2021-11-23 10:00] #2179 closed

[2021-11-23 15:24] codificat commented on #1533
/priority important-longterm
/remove-priority backlog

[2021-11-29 11:24] #2177 closed

[2021-11-29 12:54] fridex opened #2191 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-11-29 13:07] #2191 closed

[2021-11-29 20:18] fridex commented on #2170
It looks like we were not able to make the adviser work properly with mypyc. I encountered a few issues that were referencing internal IR representation, the tracebacks were not very helpful. Closing this might be a nice thing once mypyc will be more stable. Until then, running adviser in Python seems to work well and this optimization is not worth it.

/close

[2021-11-29 20:18] sesheta commented on #2170
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/2170#issuecomment-981984157):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-inf

[2021-11-29 20:18] #2170 closed

[2021-11-29 21:19] fridex opened #2195 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-11-29 21:57] #2195 closed

[2021-11-30 10:22] fridex opened #2198 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-11-30 10:35] #2198 closed

[2021-12-10 14:40] Gkrumbach07 opened #2203 "Advise does not give a stack_info when OOM is thrown"
**Describe the bug**
When i run an advise report on a large stack, I get an expected OOM error. However there is no `stack_info` returned. instead report is null and I only get an error message.

**To Reproduce**
https://khemenu.thoth-station.ninja/api/v1/advise/python/adviser-211209191901-3de39ce57cac2f07

**Expected behavior**
To see a populated `stack_info` object under report in the document.

[2021-12-14 14:27] pacospace opened #2211 "Provide a generic advise_manifest_changes in results that can be retrieved and used by thamos"
It might be good to provide a generic mechanism for this `advised_manifest_changes` so we can generalize the feature. Something like (rough design just to show the functionality):

[code]

_Originally posted by @fridex in https://github.com/thoth-station/thamos/issues/910#issuecomment-942307322_

[2021-12-15 16:28] fridex commented on #1525
/remove-lifecycle rotten
/reopen

[2021-12-15 16:28] sesheta commented on #1525
@fridex: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1525#issuecomment-994955761):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2021-12-16 11:59] fridex opened #2218 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2021-12-16 12:21] #2218 closed

[2021-12-16 12:25] fridex opened #2220 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.49.0

[2021-12-16 12:51] sesheta commented on #2220
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/adviser:v0.49.0](https://quay.io/thoth-station/adviser:v0.49.0)

[2021-12-16 12:51] #2220 closed

[2021-12-16 17:02] fridex opened #2223 "Add environment in URL to the package in search UI"
**Is your feature request related to a problem? Please describe.**

As a Thoth user, I would like to browse information about a Python package by accessing a link provided by adviser:

https://github.com/thoth-station/adviser/blob/3048e7c6edc3388e2b73d26c939c02a87cac6c8b/thoth/adviser/wraps/thoth_search_package.py#L34

As the recommended package is specific to `{os_name}`, `{os_version}`, `{python

[2021-12-16 17:02] fridex commented on #2223
CC @Gkrumbach07

[2021-12-16 17:07] fridex opened #2225 "Provide an endpoint that lists environments for the given package"
**Is your feature request related to a problem? Please describe.**

As Thoth Search UI, I would like to call to an endpoint that lists environments available for the given package.

**Describe the solution you'd like**

- [ ] implement a query that accepts (`package_name`, `package_version`, `index_url`) and gives back a list of environments (`os_name`, `os_version`, `python_version`) in which the

[2021-12-16 17:07] fridex commented on #2225
CC @Gkrumbach07

[2021-12-16 17:11] fridex opened #2226 "Expose all package metadata captured by thoth-solver on an endpoint"
**Is your feature request related to a problem? Please describe.**

As Thoth Search UI, I would like to call to an endpoint that gives me back information that Thoth has (solver results) about the given package. The routing should be similar to `{os_name}/{os_version}/{python_version/{package_name}/{package_version}/{index_url}`.

**Describe the solution you'd like**

- [ ] implement a query that

[2021-12-16 17:12] fridex commented on #2226
CC @Gkrumbach07

[2021-12-20 09:51] sentry-io[bot] opened #2227 "MultipleInvalid: extra keys not allowed @ data['default_platform']"
Sentry Issue: [THOTH-1SG4](https://sentry.io/organizations/thoth-station/issues/2870601284/?referrer=github_integration)

[code]

[2021-12-21 11:12] goern commented on #2203
/assign @fridex
/priority important-soon

[2021-12-21 11:14] goern commented on #2227
/kind bug
/priority important-soon
/assign @fridex

[2021-12-21 11:14] goern commented on #2211
/kind bug
/priority important-soon

[2021-12-21 13:12] pacospace commented on #2211
It's actually a feature request :)

[2021-12-21 13:46] fridex opened #2228 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-12-21 13:53] #2228 closed

[2021-12-21 19:35] fridex opened #2230 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2021-12-21 19:42] #2230 closed

[2022-01-12 11:13] fridex opened #2243 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-01-12 11:45] #2243 closed

[2022-01-12 17:15] fridex opened #2245 "Adviser suggests environments that could be soon purged"
**Describe the bug**

As of now, adviser suggests to use environments that could be soon purged. The reason behind it is the reporting that queries the database:

https://github.com/thoth-station/adviser/blob/5a506418169b704449b545d98fb2edee7d905df9/thoth/adviser/boots/solved_software_environment.py#L81

Rather than obtaining environments from the database, adviser should rather check which enviro

[2022-01-12 17:16] mayaCostantini commented on #2245
/assign @mayaCostantini

[2022-01-13 09:31] mayaCostantini commented on #2245
/priority critical-urgent
/lifecycle active

[2022-01-13 11:52] fridex opened #2246 "Provenance check should fail if Pipfile hash is not valid"
**Describe the bug**

Provenance checks check solely lockfile. They should fail if Pipfile was adjusted.

**To Reproduce**
Steps to reproduce the behavior:
1. Add requirements to your application
2. Ask for an advise
3. After a successful advise, adjust Pipfile in some way (ex. add new dependencies)
4. Trigger provenance-checks
5. See provenance check succeeds

**Expected behavior**

The provenanc

[2022-01-14 12:32] goern commented on #2180
/priority important-soon
/triage accepted

[2022-01-14 12:37] goern commented on #2246
/priority important-soon
/triage accepted

[2022-01-16 18:24] sesheta commented on #2118
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-17 08:35] goern commented on #2223
@fridex @Gkrumbach07 what is the prio of this feature?

[2022-01-17 10:26] pacospace commented on #2211
hey @fridex do you want me to work on this?

[2022-01-17 10:28] fridex commented on #2211
Feel free to take it. It is not clear to me how a good integration should look like though (and if we should directly support something like this now).

[2022-01-17 11:26] codificat commented on #2245
/triage accepted

[2022-01-17 12:47] Gkrumbach07 commented on #2223
Feature is implemented on search already using the URL name/version/index/osname/is version/pyversion.

[2022-01-18 11:05] goern commented on #2223
/priority critical-urgent

[2022-01-18 19:34] goern commented on #2223
/assign @Gkrumbach07

[2022-01-19 13:28] Gkrumbach07 commented on #2223
/triage accepted

[2022-01-19 14:36] #2223 closed

[2022-01-21 10:39] mayaCostantini commented on #2245
/close
Closed by #2253

[2022-01-21 10:39] sesheta commented on #2245
@mayaCostantini: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/2245#issuecomment-1018387784):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-01-21 10:39] #2245 closed

[2022-01-30 21:26] sesheta commented on #2154
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-01-31 09:27] fridex commented on #2154
/remove-lifecycle stale

[2022-02-09 19:47] #2246 closed

[2022-02-09 20:26] fridex opened #2265 "Deliver Missing Module"
Hey, AICoE-CI!

Please deliver the package module for the following tag, as it missing on PyPI:

Tag: v0.16.6

[2022-02-09 20:27] fridex commented on #2265
/close

[2022-02-09 20:27] sesheta commented on #2265
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/2265#issuecomment-1034162638):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-02-09 20:27] #2265 closed

[2022-02-09 20:31] fridex opened #2266 "Kebechet update"
Hey, Kebechet!

Update my dependencies, please.

[2022-02-09 20:42] #2266 closed

[2022-02-09 21:17] fridex opened #2269 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-02-09 21:33] #2269 closed

[2022-02-09 21:34] fridex opened #2271 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.51.0

[2022-02-09 21:44] sesheta commented on #2271
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/adviser:v0.51.0](https://quay.io/thoth-station/adviser:v0.51.0)

[2022-02-09 21:44] #2271 closed

[2022-02-15 18:27] sesheta commented on #2118
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-02-15 18:33] fridex commented on #2118
/remove-lifecycle rotten

[2022-02-22 09:09] goern commented on #2227
@fridex is this still valid?

[2022-02-22 09:10] goern commented on #2203
@Gkrumbach07 is this something still happening?

[2022-02-22 15:16] Gkrumbach07 commented on #2203
I havent seen it in awhile, but I have been avoiding large runs. Is related to https://github.com/thoth-station/adviser/issues/1525 and https://github.com/thoth-station/adviser/pull/2204

If the issue above is resolved then this issue can be resolved.

[2022-02-23 09:29] mayaCostantini opened #2272 "Resolver was killed as allocated memory has been exceeded (OOM) for adviser reports in stage"
**Describe the bug**

When querying for `adviser-220223085703-a346c6ff5c75f30` in the `advise/python/` endpoint on stage, the `"error_msg"` field in the response body specifies that:

`"Resolver was killed as allocated memory has been exceeded (OOM) - https://thoth-station.ninja/j/oom"`

**To Reproduce**

Query for the solver document above on the `advise/python/` endpoint and see the error.

**Ex

[2022-02-23 18:28] fridex commented on #2203
I was thinking about a solution for this. We could add inter-process communication that would guarantee that `stack_info` is propagated correctly to the parent process once the child process is killed on OOM. I don't think that's the right way to do these type of things though (moreover we can have results computed even if OOM happens). I think the underlying platform (OpenShift) should provide us

[2022-02-23 18:41] fridex commented on #2227
Haven't seen this issue. I did not do any changes in the referenced code, not sure if this still persists or what the root cause for this is. I will close this until we observe this again.

/close

[2022-02-23 18:41] sesheta commented on #2227
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/2227#issuecomment-1049094783):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-02-23 18:41] #2227 closed

[2022-02-24 11:08] mayaCostantini opened #2275 "Create a concise documentation on how adviser works"
**Is your feature request related to a problem? Please describe.**

As a user of Thoth, I would like to have access to a document which summarizes the mechanism behind Thoth advises to understand how they work, what are the elements that are taken into account for providing an advice (i.e. prescriptions), etc.

**Describe the solution you'd like**

Create one page of documentation containing a dia

[2022-02-24 11:08] mayaCostantini commented on #2275
/priority important-soon

[2022-02-24 11:10] mayaCostantini commented on #2275
/assign

[2022-02-24 18:27] fridex opened #2276 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-02-24 18:58] #2276 closed

[2022-02-24 19:03] fridex opened #2278 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.51.1

[2022-02-24 19:14] sesheta commented on #2278
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/adviser:v0.51.1](https://quay.io/thoth-station/adviser:v0.51.1)

[2022-02-24 19:14] #2278 closed

[2022-02-28 10:25] goern commented on #2203
dont we see 137 errors on OOM'd pods? like

[code]

so we can check for this in the argo workflow?

[2022-02-28 11:37] fridex commented on #2203
The problem here are users that will not get any recommendations if OOM is done. What we could do - if there is a risk of OOM, we could stop the resolution process and show users results that we have computed so far.

[2022-02-28 20:37] fridex opened #2281 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-02-28 20:49] #2281 closed

[2022-02-28 20:54] fridex opened #2283 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.52.0

[2022-03-01 10:51] fridex commented on #2272
/lifecycle active
/assign @fridex
/priority critical-urgent

Proposed a memory optimizer, the next step is to configure it in the deployment.

[2022-03-01 15:20] #2283 closed

[2022-03-01 19:33] fridex opened #2285 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-03-01 20:17] #2285 closed

[2022-03-01 20:19] fridex opened #2288 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.52.1

[2022-03-01 20:29] sesheta commented on #2288
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/adviser:v0.52.1](https://quay.io/thoth-station/adviser:v0.52.1)

[2022-03-01 23:14] #2288 closed

[2022-03-01 23:15] fridex commented on #2272
OOM errors are no longer present in integration-tests.

/close

[2022-03-01 23:15] #2272 closed

[2022-03-01 23:15] sesheta commented on #2272
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/2272#issuecomment-1055957502):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-03-04 09:31] goern commented on #1533
@fridex is this a feature we want to push for MVP?

[2022-03-04 12:35] fridex commented on #1533
It might be a good idea to postpone it.

[2022-03-07 18:22] fridex opened #2290 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-03-07 21:06] fridex commented on #2290
/close

[2022-03-07 21:06] #2290 closed

[2022-03-07 21:06] sesheta commented on #2290
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/2290#issuecomment-1061135858):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-03-07 21:25] fridex opened #2293 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-03-07 22:31] fridex opened #2295 "BUG: Runtime environment used is no longer supported"
**Describe the bug**

The following `WARNING` message is printed to the terminal, but it shouldn't:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Ask for recommendations for UBI8 Python 3.8
2. Check the `WARNING` message produced

**Expected behavior**

This warning message should appear in logs only if the used runtime environment is not supported, meaning there is no correspondin

[2022-03-07 23:01] mayaCostantini commented on #2295
The solver for `ubi8` and `py38` seems to be missing from the [configmap](https://github.com/thoth-station/thoth-application/blob/46a0e22012a34eb76921a5c65e2aa45dc31e23bd/core/overlays/aws-prod/common/configmaps.yaml#L39).

[2022-03-08 05:44] fridex commented on #2295
The bug seems to be in adviser implementation where `ubi` is not considered as an alternative to `rhel` (they are binary compatible):

https://github.com/thoth-station/adviser/blob/3d7e4af9ef25afa5809574d0e0f0f51cc795d233/thoth/adviser/boots/solvers_configured.py#L72-L77

[2022-03-08 05:49] #2293 closed

[2022-03-08 05:49] fridex opened #2297 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.52.2

[2022-03-08 06:00] sesheta commented on #2297
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/adviser:v0.52.2](https://quay.io/thoth-station/adviser:v0.52.2)

[2022-03-08 06:00] #2297 closed

[2022-03-08 06:22] fridex commented on #2295
Actually, we consider it as an alternative based on UbiBoot that is run first. The issue here is in the operating system version string that was not normalized. #2300 should fix it.

[2022-03-08 13:09] goern opened #2302 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

Related-To: https://github.com/thoth-station/adviser/pull/2301

[2022-03-08 13:31] #2302 closed

[2022-03-08 15:23] fridex opened #2304 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.52.2

[2022-03-08 15:23] fridex commented on #2304
/close

[2022-03-08 15:23] #2304 closed

[2022-03-08 15:23] sesheta commented on #2304
@fridex: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/2304#issuecomment-1061895095):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-in

[2022-03-08 15:23] fridex opened #2305 "Deliver Container Image"
Hey, AICoE-CI!

Please build and deliver the following git tag:

Tag: v0.52.3

[2022-03-08 15:33] sesheta commented on #2305
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/adviser:v0.52.3](https://quay.io/thoth-station/adviser:v0.52.3)

[2022-03-08 15:33] #2305 closed

[2022-03-08 15:34] sesheta commented on #2305
Successfully built and delivered the image.
Image can be found at:[quay.io/thoth-station/adviser:v0.52.3](https://quay.io/thoth-station/adviser:v0.52.3)

[2022-03-09 10:57] #2295 closed

[2022-03-09 11:20] fridex opened #2306 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

[2022-03-09 11:43] #2306 closed

[2022-03-14 09:21] fridex opened #2308 "Warn if the given environment is not fully solved yet"
**Is your feature request related to a problem? Please describe.**

When we plug a new solver, it might happen that adviser fails to resolve application dependencies as we haven't solved packages yet. We could warn users that we haven't solved the environment yet.

**Describe the solution you'd like**

Similarly, as we show in metrics percentage of solved software packages, we could show this numb

[2022-03-15 08:28] fridex opened #2310 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-03-15 14:31] #2310 closed

[2022-03-15 19:09] sesheta commented on #1525
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-03-16 10:06] mayaCostantini commented on #2275
/sig stack-guidance

[2022-03-16 10:26] mayaCostantini commented on #2308
/sig stack-guidance

[2022-03-16 14:49] mayaCostantini commented on #2211
/assign @mayaCostantini
/sig stack-guidance
/lifecycle active

[2022-03-17 11:01] goern commented on #2308
/project sig-stack-guidance

[2022-03-17 11:02] goern commented on #2308
/project sig-stack-guidance new

[2022-03-17 11:03] goern commented on #2308
/project 39 new

[2022-03-17 11:04] goern commented on #2308
/project SIG-Stack-Guidance New

[2022-03-17 11:30] goern commented on #2308
sorry for the pollution ;)

[2022-03-22 13:09] goern commented on #2308
/project SIG-Stack-Guidance

[2022-03-23 09:43] codificat commented on #2308
/priority backlog
/triage accepted

[2022-03-28 16:07] mayaCostantini commented on #2227
I was trying to run a `dependency-monkey` job for Tensorflow==2.8.0 with the following [pipeline configuration](https://github.com/thoth-station/dependency-monkey-zoo/blob/master/tensorflow/inspection-2021-02-18/pipeline.yaml) and had a similar error:

[code]

Could constructing `CONFIGURATION_SCHEMA` in the code below specifying `extra=ALLOW_EXTRA` instead of the [default `extra=PREVENT_EXTRA`](h

[2022-03-28 17:23] fridex commented on #2227
This report is expected - the schema validation makes sure the pipeline units are correct and accept expected parameters.

The problem is pipeline configuration - the linked YAML file states pipeline units that no longer exist or were transfered to prescriptions. I tried to document update this in https://github.com/thoth-station/integration-tests/pull/287#discussion_r821919559 The old dependency-

[2022-03-28 18:43] mayaCostantini commented on #2227
Thanks @fridex, sorry I missed it the comment 👍🏻 I will adjust the pipeline config for the new run

[2022-03-31 15:11] fridex opened #2318 "Make sure `torch==1.11.0+cu113` gets resolved and is available in recommendations"
## Descriptions

See https://github.com/pypa/pipenv/issues/5022

### Additional context

We hadn't https://download.pytorch.org/whl/cu113 index registered.

## Acceptance Criteria

- make sure we have cu113 index enabled and it is monitored
- make sure we solve torch from the cu113 index
- make sure torch 11.3 is available in thoth recommendations

Note this is a CUDA 11.3 build.

[2022-03-31 15:48] mayaCostantini commented on #2318
/sig stack-guidance
/priority critical-urgent

[2022-04-01 18:10] matteius commented on #2318
Could you describe more details on this linked issue from pipenv? -- It would be helpful to understand more so that we can better improve how it works with regards to non-pypi public and private indexes.  Thanks!

[2022-04-04 08:24] fridex commented on #2318
We develop a public cloud Python resolver that resolves application dependencies - Thoth. Unlike Pipenv, we resolve application dependencies and provide guidance which dependencies should be installed to have secure, performant or stable application dependencies. [Here is a top-level article](https://developers.redhat.com/articles/2022/03/07/manage-python-security-thoths-cloud-based-dependency-res

[2022-04-04 08:30] fridex commented on #2318
Here is [more info](https://www.youtube.com/watch?v=UCt37waSa6g&t=4403s) and [a demo](https://www.youtube.com/watch?v=UCt37waSa6g&t=1h18m48s). Project homepage is https://thoth-station.ninja

[2022-04-04 13:09] codificat commented on #2180
/sig stack-guidance

[2022-04-06 08:25] fridex opened #2322 "Changes to requirements are not always reflected in the lock file"
## Bug description

If a user tries to add requirements to Pipfile, it might happen that these requirements are not reflected during the resolution process.

### Steps to Reproduce
Steps to reproduce the behavior:
1. Clone cli-examples repository
2. Add tensorflow to requirements - `thamos add tensorflow`
3. Ask for an advise - `thamos advise`
4. See the lock file does not state tensorflow as user

[2022-04-06 08:42] #2322 closed

[2022-04-06 08:55] fridex opened #2323 "Kebechet update"

[2022-04-06 08:57] #2323 closed

[2022-04-14 20:29] sesheta commented on #1525
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-04-19 12:41] mayaCostantini commented on #2211
/remove lifecycle-active

[2022-04-19 12:42] mayaCostantini commented on #2211
/remove-lifecycle active

[2022-04-21 11:30] mayaCostantini commented on #2180
/lifecycle active

[2022-04-22 08:21] mayaCostantini opened #2326 "Generate compatibility matrices for Tensorflow releases"
## Problem statement
As a Tensorflow maintainer, I would like to be able to automatically document compatibility between a new Tensorflow version and Python interpreter versions, CUDA versions, etc.

## Proposal description
Use Thoth advise to automatically generate compatibility matrices between Tensorflow versions and their dependencies in the form of a markdown documentation based on available

[2022-04-22 08:22] mayaCostantini commented on #2326
/sig stack-guidance

[2022-04-22 08:33] fridex commented on #2326
See https://github.com/thoth-station/prescriptions/issues/21728

[2022-04-22 08:38] mayaCostantini commented on #2326
@fridex do you want to close this issue as this seems to be a duplicate of the one you cited?

[2022-04-22 08:50] fridex commented on #2326
Yes, might be seen as a duplicate.

[2022-04-22 08:50] mayaCostantini commented on #2326
/close
Duplicate of https://github.com/thoth-station/prescriptions/issues/21728

[2022-04-22 08:50] #2326 closed

[2022-04-22 08:50] sesheta commented on #2326
@mayaCostantini: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/2326#issuecomment-1106205445):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes

[2022-04-25 13:45] harshad16 opened #2328 "provide a document describing all the tags/categories"

[2022-04-29 11:14] fridex opened #2329 "[8pt][SPIKE]Use backtracking for "latest" recommendation types"
## Problem statement

Some requirements fail to be resolved from time to time even though a resolution for the given set of requirements exists. This is caused by the nature of the algorithm used when resolving "latest". It might be worth experimenting with other algorithms to have more deterministic resolution - the adviser could use backtracking if resolving "latest" versions of software package

[2022-04-29 12:04] mayaCostantini commented on #2329
/sig stack-guidance

[2022-05-02 12:56] codificat commented on #2328
/kind feature

[2022-05-04 09:49] mayaCostantini commented on #2328
/assign

[2022-05-04 13:10] mayaCostantini commented on #2328
Here is a list of justifications metadata I could think of so far:

- Last CVE database update
- Prescriptions release
- Prescriptions repository
- Last prescriptions update
- Advise ID
- Timestamp of when advise was computed
- Adviser version
- Number of packages added / removed
- Version changes
- Justification counts

Do not hesitate if anything more could be added to this list.

[2022-05-04 14:04] mayaCostantini commented on #2328
cc @fridex @harshad16 @Gkrumbach07

[2022-05-04 14:14] Gkrumbach07 commented on #2328
Is there more data on security scorecards that could be returned as well? On the UI I have to search each justification for key words related to scorecards in order to properly display them. So a justification that contains the words "scorecard" and "fuzzing" match to the fuzzing scorecard data.

Also I believe scorecard data each get a rating of 0-10 to form an overall score. Can this also be ret

[2022-05-04 18:34] Gkrumbach07 commented on #2328
I think you are right, it might not be metadata. Including the version in the metadata should be fine. Where would other data about scorecard go. Beyond just a message, link, and severity?

[2022-05-04 20:18] mayaCostantini commented on #2328
Do you mean where should it be returned for you to use it in the Search UI?

[2022-05-05 13:19] Gkrumbach07 commented on #2328
For that use case yes, but it would be helpful across other endpoints as well

[2022-05-09 12:24] Gkrumbach07 commented on #2180
Was looking at openssf Big Query database and noticed that `scorecard-v2` gives extra details like specific scores for each check. Can the scorecard justification include this data?

_scorecard-v2 schema_
![image](https://user-images.githubusercontent.com/12587674/167408833-078d2153-1afc-46bb-9b31-b8720559c623.png)

More data the better, but priority would be `reason` (already included), `score`,

[2022-05-10 13:02] fridex opened #2333 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

[2022-05-10 13:31] #2333 closed

[2022-05-10 13:33] fridex opened #2335 "flake8 checks in pre-commit fail"
## Bug description

[code]

[2022-05-10 13:33] mayaCostantini commented on #2335
/sig stack-guidance
/priority important-soon

[2022-05-10 13:33] fridex opened #2336 "mypy checks in pre-commit fail"
## Bug description

[code]

[2022-05-10 13:37] mayaCostantini commented on #2336
/sig stack-guidance
/priority important-soon

[2022-05-14 23:12] sesheta commented on #1525
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-05-14 23:12] #1525 closed

[2022-05-14 23:12] sesheta commented on #1525
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/1525#issuecomment-1126825136):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-05-16 10:35] fridex commented on #1525
It would be great if the kernel would provide such a signal in openshift as such a solution would be reusable for any memory-hungry workloads done on openshift. For now, adviser implementation provides [a memory optimizer](https://thoth-station.ninja/docs/developers/adviser/deployment.html#memory-management) that is configured in our deployments.

[2022-05-16 19:15] sesheta commented on #2118
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-05-17 06:51] goern commented on #2329
/priority critical-urgent

[2022-05-19 10:07] fridex opened #2339 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

**IMPORTANT NOTES**

- _If [Khebut GitHub App Bot](https://github.com/apps/khebhut) is installed, this issue will trigger a minor release. The bot will open a Pull Request to update the CHANGELOG, fix the opened issue and create a tag._

- _Only users that are allowed to release (a.k.a. maintainers specified in the .thoth.yaml file) can open the

[2022-05-19 10:27] #2339 closed

[2022-05-23 08:07] fridex opened #2342 "Allow users to specify CVEs that should be ignored"
## Problem statement

As a user of Thoth, I would like to have an ability to specify which CVEs should be ignored during the resolution process. The reason behind this could be audit procedure that makes sure specific CVEs are considered as harmful. Eg. allow CVE-XXX in TensorFlow that is affecting security only when GCS is used.

For this, we can utilize labels that would allow users specify whic

[2022-05-23 08:07] fridex commented on #2342
/sig stack-guidance

[2022-05-23 08:07] fridex commented on #2342
/assign

[2022-05-23 12:56] mayaCostantini commented on #2329
https://pip.pypa.io/en/stable/topics/dependency-resolution/

[2022-05-25 10:05] mayaCostantini commented on #2329
/assign @mayaCostantini

[2022-05-29 12:42] sesheta commented on #2203
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-01 00:56] sesheta commented on #2154
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-10 11:45] mayaCostantini commented on #2342
Closed by https://github.com/thoth-station/adviser/pull/2348

[2022-06-10 11:45] #2342 closed

[2022-06-10 11:46] mayaCostantini opened #2349 "New minor release"
Hey, Kebechet!

Create a new minor release, please.

**IMPORTANT NOTES**

- _If [Khebut GitHub App Bot](https://github.com/apps/khebhut) is installed, this issue will trigger a minor release. The bot will open a Pull Request to update the CHANGELOG, fix the opened issue and create a tag._

- _Only users that are allowed to release (a.k.a. maintainers specified in the .thoth.yaml file) can open the

[2022-06-10 12:03] #2349 closed

[2022-06-13 09:32] mayaCostantini opened #2351 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

**IMPORTANT NOTES**

- _If [Khebut GitHub App Bot](https://github.com/apps/khebhut) is installed, this issue will trigger a patch release. The bot will open a Pull Request to update the CHANGELOG, fix the opened issue and create a tag._

- _Only users that are allowed to release (a.k.a. maintainers specified in the .thoth.yaml file) can open the

[2022-06-13 09:35] mayaCostantini commented on #2351
Right, thanks!

[2022-06-13 10:00] #2351 closed

[2022-06-14 19:47] Gkrumbach07 opened #2353 "[EPIC] Have clustered advise outputs"
## Problem statement

As a user of Thoth adviser, I want to be able to sort and filter through the justifications provided after an advise so that I can find display only the information that is relevant to me.

## High-level Goals

- Justifications and stack info can be grouped into smaller categories
- Justifications and stack info can have varying levels of visibility.

## Proposal description

[2022-06-15 11:50] Gkrumbach07 commented on #2353
/sig user-experience
/priority important-longterm

[2022-06-15 21:48] sesheta commented on #2118
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-20 16:02] sesheta commented on #2275
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-06-27 13:30] codificat commented on #2353
/transfer core

[2022-06-28 12:49] sesheta commented on #2203
Stale issues rot after 30d of inactivity.
Mark the issue as fresh with `/remove-lifecycle rotten`.
Rotten issues close after an additional 30d of inactivity.

If this issue is safe to close now please do so with `/close`.

/lifecycle rotten

[2022-06-28 13:13] mayaCostantini commented on #2203
/sig stack-guidance

[2022-06-28 13:43] mayaCostantini commented on #2203
Given the memory optimizer implementation and the default values used in adviser deployments as a limit above which to run the optimizer (5.75GB < 6GB currently allocated), this issue should normally be solved, unless a "burst" in memory usage happens in between batches of resolver iterations, with a batch size defined by the `THOTH_ADVISER_MEM_OPTIMIZER_ITERATION` environment variable in deployme

[2022-06-28 14:49] mayaCostantini commented on #2203
Following a discussion with @harshad16, a way to improve the limit would be to
-  [ ] observe a spike in memory consumption when running an advise on a stack that caused OOM issues in previous integration tests
- [ ] run advises for similar software stacks using dependency monkey and average the values obtained to better approximate the limit we should fix

In parallel, we can continue looking for

[2022-06-30 16:02] codificat opened #2354 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

**IMPORTANT NOTES**

- _If [Khebut GitHub App Bot](https://github.com/apps/khebhut) is installed, this issue will trigger a patch release. The bot will open a Pull Request to update the CHANGELOG, fix the opened issue and create a tag._

- _Only users that are allowed to release (a.k.a. maintainers specified in the .thoth.yaml file) can open the

[2022-06-30 18:12] codificat opened #2356 "mypy checks are failing"
## Bug description

Currently, there are a few mypy errors being reported by pre-commit, causing the PR checks to fail.

### Steps to Reproduce

Steps to reproduce the behavior:
1. See e.g. #2355 for an example of a PR that does not introduce any mypy-related issues but is failing the mypy checks

### Actual behavior

[code]

### Expected behavior

mypy checks to succeed

### Environment informati

[2022-06-30 18:14] codificat commented on #2356
/kind bug
/priority critical-urgent
/sig stack-guidance

[2022-07-03 10:03] sesheta commented on #2318
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-07-07 13:13] codificat opened #2360 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

This is a retry of #2354.

A new version of prescriptions has also been released as v0.21.0:
https://github.com/thoth-station/prescriptions/issues/26459#issuecomment-1176428726

**IMPORTANT NOTES**

- _If [Khebut GitHub App Bot](https://github.com/apps/khebhut) is installed, this issue will trigger a patch release. The bot will open a Pull Reque

[2022-07-07 13:17] #2360 closed

[2022-07-08 09:36] sesheta commented on #2356
@codificat: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/2356#issuecomment-1178773673):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test

[2022-07-08 09:36] #2356 closed

[2022-07-12 13:19] VannTen opened #2361 "Documentation: graph-sync-job -> middletier Namespace or Backend Namespace"
In `docs/source/architecture.rst`, graph-sync is mentionned as running in two
namespaces:

[code]

(lines 135 and 172)

Which one is it ? (unless it runs in both ?)

/kind documentation

[2022-07-16 00:43] sesheta commented on #2118
Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

/close

[2022-07-16 00:43] sesheta commented on #2118
@sesheta: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/2118#issuecomment-1186040564):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-07-16 09:21] mayaCostantini commented on #2118
/reopen

[2022-07-16 09:21] sesheta commented on #2118
@mayaCostantini: Reopened this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/2118#issuecomment-1186129724):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernete

[2022-07-16 09:21] mayaCostantini commented on #2118
/sig stack-guidance
/lifecycle frozen

[2022-07-18 12:41] harshad16 commented on #2329
The documentation also has details on limitation
https://pip.pypa.io/en/stable/topics/dependency-resolution/#possible-ways-to-reduce-backtracking

Maybe we would have to use them for a smooth resolution report.

[2022-07-19 11:48] mayaCostantini opened #2364 "[SpikeIntroduce CPU usage profiling"
## Problem statement
It would be useful to implement CPU usage profiling of the adviser to identify bottlenecks in the resolution process and work on optimizing the most computationally expensive parts.

## High-level Goals

## Proposal description

### Alternatives

### Additional context

## Acceptance Criteria

- [ ] example

[2022-07-19 11:54] mayaCostantini commented on #2364
/priority important-longterm
/sig stack-guidance

[2022-07-21 07:22] mayaCostantini commented on #2329
/lifecycle active

[2022-07-24 20:10] harshad16 commented on #2361
It is a workflow that executes across multiple namespaces. It is responsible for syncing the workload result to the postgresql database, so that is the reason why it is available in multiple namespaces.
For example:
Adviser executes on backend and solver executes on middletier. The graph-sync would sync the respective component after their execution to postgresql database, for this process to take

[2022-07-25 07:26] VannTen commented on #2361
I think maybe just a reference (on each of the occurence) to and
end-of-page note stating just that would be fine.

[2022-07-26 15:58] VannTen commented on #2335
Is this still relevant ? does not seem to fail when I run it locally

[2022-08-01 06:48] harshad16 opened #2368 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

**IMPORTANT NOTES**

- _If [Khebut GitHub App Bot](https://github.com/apps/khebhut) is installed, this issue will trigger a patch release. The bot will open a Pull Request to update the CHANGELOG, fix the opened issue and create a tag._

- _Only users that are allowed to release (a.k.a. maintainers specified in the .thoth.yaml file) can open the

[2022-08-01 06:48] harshad16 commented on #2368
Related-to: https://github.com/thoth-station/adviser/issues/2360

[2022-08-01 06:52] #2368 closed

[2022-08-01 06:57] #2361 closed

[2022-08-01 23:51] harshad16 opened #2370 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

**IMPORTANT NOTES**

- _If [Khebut GitHub App Bot](https://github.com/apps/khebhut) is installed, this issue will trigger a patch release. The bot will open a Pull Request to update the CHANGELOG, fix the opened issue and create a tag._

- _Only users that are allowed to release (a.k.a. maintainers specified in the .thoth.yaml file) can open the

[2022-08-01 23:52] harshad16 commented on #2370
Second try of https://github.com/thoth-station/adviser/issues/2368
After release of new kebechet.

[2022-08-01 23:55] #2370 closed

[2022-08-02 15:41] harshad16 opened #2371 "Kebechet is unable release adviser"
## Bug description
Kebechet is unable to release the adviser.
Please look at the following issues:
- https://github.com/thoth-station/adviser/issues/2360
- https://github.com/thoth-station/adviser/issues/2368
- https://github.com/thoth-station/adviser/issues/2370

https://github.com/thoth-station/adviser/issues/2370#issuecomment-1201852695

### Steps to Reproduce
Steps to reproduce the behavior:
1

[2022-08-02 18:20] harshad16 opened #2372 "Kebechet dependency is blocked due to issue in dependency resolution"
## Bug description

The kebechet dependency is failing due to the following issues:
[code]
Kebechet is unable to raise issues about this due to the issuing body being too long based on GitHub issue standards.

### Steps to Reproduce
Steps to reproduce the behavior:
1. Open a `kebechet update` issue
2. Check the pods in prod cluster
3. See error

### Actual behavior
No action

### Expected behavior

[2022-08-07 13:06] sesheta commented on #2180
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-08-07 13:08] mayaCostantini commented on #2180
/remove-lifecycle stale
/lifecycle active

[2022-08-09 13:46] goern commented on #2371
/priority critical-urgent
/sig devsecops

[2022-08-23 02:25] harshad16 opened #2376 "Kebechet update"

[2022-08-23 02:53] #2372 closed

[2022-08-23 03:00] #2376 closed

[2022-08-23 04:42] harshad16 opened #2378 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

**IMPORTANT NOTES**

- _If [Khebut GitHub App Bot](https://github.com/apps/khebhut) is installed, this issue will trigger a patch release. The bot will open a Pull Request to update the CHANGELOG, fix the opened issue and create a tag._

- _Only users that are allowed to release (a.k.a. maintainers specified in the .thoth.yaml file) can open the

[2022-08-23 05:05] #2371 closed

[2022-08-23 05:05] #2378 closed

[2022-09-04 16:09] sesheta commented on #2308
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-05 11:07] VannTen commented on #2203
might be related : https://github.com/thoth-station/metrics-exporter/issues/725

I'm pretty sure this is impossible. The oom (either from cgroup or the kernel) send a SIGKILL, which cannot be handled in any way by the process itself.

However we might check stuff like `resource.setrlimit` then catching MemoryError ?

Liveness probe won't help, it's more for "blocked" kind of problem

I think the p

[2022-09-05 11:33] goern commented on #2203
I think we should turn this into an operational issue: let's observe and alarm, then adjust.

if we can see how many pods get oom killed, at which memory limit, we should be able to manually adjust the limit. using dependency monkey to generate a larger set of observations. having statistics about the frequency of ook kills in relation to the memory consumption should give us a good priority for f

[2022-09-05 12:19] VannTen commented on #2335
Fixed in #2341
/close

[2022-09-05 12:19] #2335 closed

[2022-09-05 12:19] sesheta commented on #2335
@VannTen: Closing this issue.

<details>

In response to [this](https://github.com/thoth-station/adviser/issues/2335#issuecomment-1236932328):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-i

[2022-09-05 12:28] VannTen commented on #2203
+1

Sure, if we are the  producer (aka talking to the k8s api) of the pod
resource or it's parent resource(workflow, job, whatever). (In that case
we should probably have a `RestartPolicy: Never` to handle failures
ourselves)

[2022-09-18 16:14] sesheta commented on #2275
Issues go stale after 90d of inactivity.
Mark the issue as fresh with `/remove-lifecycle stale`.
Stale issues rot after an additional 30d of inactivity and eventually close.

If this issue is safe to close now please do so with `/close`.

/lifecycle stale

[2022-09-19 17:40] #2336 closed

[2022-09-20 22:22] codificat commented on #2329
For anecdotal evindence, just adding a couple of instances where I think the advice provided with _latest_ looks strange / unexpected:

- Downgrading packages and introducing already-fixed CVEs: https://github.com/thoth-station/ps-cv/pull/45#pullrequestreview-1114477726
- Downgrading from a released version to an older pre-release version: https://github.com/thoth-station/ps-cv/pull/43#pullrequest

[2022-09-21 07:33] mayaCostantini commented on #1541
Reopening this issue as it was encountered in integration tests from smaug-prod (2022-09-21 version 0.11.3):

[code]

[2022-09-21 07:34] mayaCostantini commented on #1541
/sig stack-guidance
/remove lifecycle-rotten
/priority critical-urgent

[2022-09-21 18:10] harshad16 opened #2385 "Kebechet update"

[2022-09-21 18:53] harshad16 commented on #2385
[kebechet-job-220921184842-424345a8a6d1a1a6-3247389010-main.log](https://github.com/thoth-station/adviser/files/9619587/kebechet-job-220921184842-424345a8a6d1a1a6-3247389010-main.log)

[2022-09-21 19:47] harshad16 opened #2386 "New patch release"
Hey, Kebechet!

Create a new patch release, please.

**IMPORTANT NOTES**

- _If [Khebut GitHub App Bot](https://github.com/apps/khebhut) is installed, this issue will trigger a patch release. The bot will open a Pull Request to update the CHANGELOG, fix the opened issue and create a tag._

- _Only users that are allowed to release (a.k.a. maintainers specified in the .thoth.yaml file) can open the

[2022-09-21 20:13] #2386 closed

[2022-09-22 15:01] VannTen commented on #2203
So we have three separate things:
- [ ] observe -> create alerts based on exit-code for OOM + investigate on memory consumption in that case.
   -> this depends on https://github.com/thoth-station/metrics-exporter/issues/725
   (although, it might be possible to use memory consumption alone to detect this. I believe grafana has a sort of "restart detector", it might fit the job with some PromQl wi

[2022-09-23 01:52] #2385 closed

[2022-09-27 11:07] codificat opened #2389 ""latest" advice downgrades a bit too much for being "latest""
## Bug description

When I request advice from Thoth using the *latest* recommendation type, I get a set of dependency updates that include several downgrades, sometimes to quite older versions.

As a user, this is counter-intuitive to the name of the recommendation: one would expect "latest" to stay relatively close to the most current versions.

### Steps to Reproduce
Steps to reproduce the beha

[2022-09-27 11:07] codificat commented on #2389
/sig stack-guidance
/priority important-soon

[2022-09-29 14:06] Gkrumbach07 commented on #2275
may be related: https://github.com/thoth-station/core/issues/451

[2022-10-04 03:46] harshad16 commented on #2275
/remove-lifecycle stale
/lifecycle frozen

[2022-10-07 13:50] VannTen opened #2391 "Package prescriptions validation as pre-commit hook"
## Problem statement
thoth-station/prescriptions#8

## Proposal description
Create a pre-commit hook using `validate-prescriptions` ([docs for creating hooks](https://pre-commit.com/#new-hooks))

### Alternatives
Package validate-prescriptions as a Tekton pipeline.
A pre-commit hooks is better because it reuse the existing tooling with minimal
work.

## Acceptance Criteria

- [ ] Functionnal .pre-

[2022-10-11 08:25] VannTen commented on #2203
To clarify a bit of my earlier statement, technically we would not rerun
it, but create another one (pods/parent resource) with adjusted
resources. But it's functionally equivalent

[2022-10-20 10:54] VannTen commented on #2211
/priority backlog

[2022-10-25 16:20] harshad16 opened #2394 "packaging.version.InvalidVersion: Invalid version: 'None'"
## Bug description

Adviser run fails with following error messgae:
[code]

[adviser-221025161456-97e60985f358245e-2588813409-main.log](https://github.com/thoth-station/adviser/files/9862158/adviser-221025161456-97e60985f358245e-2588813409-main.log)

[2022-10-25 16:27] goern commented on #2394
replicater:

[code]

[2022-10-25 16:52] harshad16 commented on #2394
The single quote are at the discover cuda
https://github.com/thoth-station/thamos/blob/eda365d1d61489453d4951c5a7d02c06e5f27649/thamos/config.py#L329

create the result as
`cuda_version: 'None'`
which is not treated as None , instead as str None.
that is the reason for failer in adviser.

[2022-10-25 17:35] harshad16 commented on #2394
/sig stack-guidance
/triage accepted
/priority important-longterm

[2022-10-25 19:04] #2394 closed

[2022-11-08 20:37] harshad16 commented on #2318
We have registry the indexed and the solved for torch==1.11.0+cu113
https://stage.thoth-station.ninja/api/v1/python/package/version/environments?name=torch&version=1.11.0%2Bcu113&index=https%3A%2F%2Fdownload.pytorch.org%2Fwhl%2Fcu113

Closing this issue.
please re-open if more information is needed.

[2022-11-08 20:37] #2318 closed

[2022-11-16 17:15] goern commented on #2391
Uhhh, thanks for the reping!

If it's helping wegstricht the quality, let's do it!

[2022-11-17 13:55] VannTen commented on #2391
/triage accepted
/priority important-longterm
/good-first-issue

[2022-11-17 13:55] sesheta commented on #2391
@VannTen:
	This request has been marked as suitable for new contributors.

Please ensure the request meets the requirements listed [here](https://git.k8s.io/community/contributors/guide/help-wanted.md#good-first-issue).

If this request no longer meets these requirements, the label can be removed
by commenting with the `/remove-good-first-issue` command.

<details>

In response to [this](https://g